---
import Card from "../nivel1/Card.astro";
---

<div
  id="projects"
  class="sm:scroll-mt-16 scroll-mt-14 mt-5"
  data-aos="fade-down"
>
  <p
    class="md:m-5 sm:text-6xl text-4xl text-center text-violet-800 dark:text-violet-300"
  >
    Algunos proyectos que he desarrollado
  </p>
  <div class="flex flex-wrap justify-center items-center">
    <Card
      title="Buscador de películas, series y juegos"
      description="Aplicación desarollada en react consumiendo la API OMDb"
      link={"https://diegoacetun-movie-app.netlify.app/"}
      textColor={"text-blue-500"}
      icon="fluent:movies-and-tv-16-filled"
      isProject={true}
    />
    <Card
      title="Reproductor Web"
      description="Reproductor de música desarrollado con Django, consumiendo una api desarrollada con Flask."
      link={"https://github.com/d-acetun/ReproductorWeb"}
      textColor={"text-green-500"}
      icon="carbon:data-player"
      isProject={true}
    />
    <Card
      title="Generador de imágenes pixel art"
      description="Generador de imágenes pixel art a través de carga de un archivo en un formato en específico, empleando un analizador léxico para su lectura."
      link={"https://github.com/d-acetun/GENERADOR-IMG-PIXELART"}
      textColor={"text-indigo-700"}
      icon="pixelarticons:coin"
      isProject={true}
    />
    <Card
      title="Control de productos"
      description="Aplicación de escritorio desarrollada con python, tkinter y mysql para llevar un control de productos"
      link={"https://github.com/d-acetun/ControlDeProductos"}
      textColor={"text-zinc-600"}
      icon="bi:clipboard-check"
      isProject={true}
    />
    <Card
      title="Reproductor de música"
      description={`Aplicación de escritorio desarrollada con python y tkinter implementando listas enlazadas circulares para crear las listas de reproducción`}
      link={"https://github.com/d-acetun/ReproductorDeMusicaPython"}
      textColor=""
      icon="icon-park:folder-music"
      isProject={true}
    />
  </div>
</div>

